
<div class="panel-body">

	<h1 style="font-family: 'Indie Flower', cursive; text-transform: capitalize;" ng-if="singlePost"><a class="single-post" href="#/posts/{{postId}}">{{title}}</a></h1>
	<h2 style="font-family: 'Indie Flower', cursive; text-transform: capitalize;" ng-if="!singlePost"> <a href="#/posts/{{postId}}">{{title}}</a></h2>
		<small ng-if="singlePost">posted by <a href="#/users/{{userData.id}}">{{userData.name}}</a></small> 
		
	<div class="container share" ng-if="singlePost">
		<div class="row">
			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg"  title="Share this content" data-toggle="modal" data-target="#myModal">
	  		<i class="fa fa-share-alt"></i> Share
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			 	<div class="modal-dialog">
			   		<div class="modal-content">
			     		<div class="modal-header">
			        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			        		<h4 class="modal-title" id="myModalLabel"><i class="fa fa-share-alt"></i> Share</h4>
			      		</div>
				        <div class="modal-body">
					        <p><a title="Facebook" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a> <a title="Twitter" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a> <a title="Google+" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span></a> <a title="Linkedin" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a> <a title="Reddit" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x"></i></span></a> <a title="WordPress" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-wordpress fa-stack-1x"></i></span></a> <a title="Digg" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-digg fa-stack-1x"></i></span></a>  <a title="Stumbleupon" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-stumbleupon fa-stack-1x"></i></span></a><a title="E-mail" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x"></i></span></a>  <a title="Print" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-print fa-stack-1x"></i></span></a></p>
				        
				        	<h2><i class="fa fa-envelope"></i> Newsletter</h2> <p>Subscribe to our weekly Newsletter and stay tuned.</p>
				                
				            <form action="" method="post">
				                <div class="input-group">
				  					<input type="email" class="form-control" placeholder="your@email.com">
								</div>
		                    	<br />
		                   		<button type="submit" value="sub" name="sub" class="btn btn-primary"><i class="fa fa-share"></i> Subscribe Now!</button>
		              		</form>
		      			</div>
			      		<div class="modal-footer">
			        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      		</div>
	   		 		</div>
	  			</div>
			</div>
		</div>
	</div>

	<a href="#/posts/{{postId}}"> <img src="../app/public/images/post.jpg" /> </a>
		<small> photo by Maja Korunoska </small> 

	<h5 ng-if="singlePost">{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}</h5>

	<div ng-if="!singlePost">
		<h5 ng-init="limit = 10; moreShown = false">{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}{{body | limitTo: limit}}</h5>
		
		<a ng-show="body.length > limit" href ng-click="limit=body.length; moreShown = true"> More </a>
	    <a ng-show="moreShown" href ng-click="limit=10; moreShown = false"> Less </a>		
    </div>
</div> 