/*
  DevComment: Separate CSS into sections. It's easier for others to navigate.
  DevComment: Stick to single style of writing CSS. Either use:
  
  body {
    // something
  }
  a {
    // something
  }

  or

  body {
    // something
  }

  a {
    // something
  }

*/

body { 
	padding-top: 70px; 
	font-family: 'Roboto', sans-serif;
  background-image: url('https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
	color: black;
  text-decoration: none;
}
.container {
  width: 970px;
  border-radius: 5px;
  padding-bottom: 50px;
}
.container.navbar-default {
	border-color: transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-bottom: 0;
}
.error {
  margin: 0 auto;
  text-align: center;
}
.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}
.error-desc {
  font-size: 12px;
  color: #647788;
}
.m-b-10 {
  margin-bottom: 10px!important;
}
.m-b-20 {
  margin-bottom: 20px!important;
}
.m-t-20 {
  margin-top: 20px!important;
}
.home-page {
	background-image: url('https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg');
  background-size: 500px;
  background-repeat: no-repeat;
}
.home-page h1 {
	position: absolute;
  top: 306px;
  left: 879px;
  font-size: 140px;
  opacity: 1;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
.home-page h2 {
	position: absolute;
  top: 895px;
  left: 575px;
}
img.home-image {
	width: 100%;
  height: 1000px;
  position: absolute;
  top: -51px;
  left: 0;
  opacity: 0.8;
}
.home-page h1:first-child {
	position: absolute;
  top: 499px;
  left: 647px;
  font-size: 140px;
  opacity: 1;
  visibility: hidden;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}
button.create-blog {
	background-color: transparent;
  border: 1px solid #000;
  padding: 15px;
  position: absolute;
  top: 417px;
  left: 829px;
  color: black;
  height: 50px;
  text-align: center;
}
#users {
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  top: -89px;
}
#user-section {
  top: 100px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
#userImage {
  background-image: url('../images/user.jpg');
  background-position: center; 
  background-size: 212px;
  width: 150px;
  height: 150px;
  margin: 0 0 40px 0;
  border-radius: 75px;
  border: 5px solid #F5ECE2;
  transition: all 0.2s ease-in-out;
}
input {
  position: absolute;
  float:right;
  top: 22px;
}
.panel-title {
  font-size: 24px;
  text-transform: uppercase;
}
.panel-body img {
  margin-top: 10px;
  display: inline;
  width: 100%;
  height: 500px;
}
h4 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
.media
{
  margin: 20px 0;
  padding:30px;
}
.pull-left {
  margin-right: 20px;
}
.dp
{
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
}
#userImage:hover
{
  border: 2px solid #eee;
  transform: scale(1.1);
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
}
form {
  float: left;
  width: 100%;
}
form textarea {
  background: none repeat 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 142px;
  resize: none;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  outline:none;
  border: 1px solid #e6e6e6;
}
form span {
  float: right;
  top: -20px;
  position: relative;
}
.text-color {
  color: red;
}
#comment.panel-body  {
  padding: 0px;
}
#comment:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#comment:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#searchItem {
  position: relative;
  float: right;
  top: -37px;
  right: 8px;
  color: #887676;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin-top: 0px;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #ECDCDC;
  border-bottom: 1px solid #ffffff;
}
.btn-success {
  background-color: white;
  border-color: #4d4d4d;
  border-radius: 0;
  margin-top: -58px;
  color: #4d4d4d;
  margin-left: 2px;
}
.btn-success:hover {
  background-color: #e6e6e6;
  border-color: #4d4d4d;
  color: black;
}
#comment {
  background-color: white;
}
#comment.panel-body {
  padding: 0 17px;
}
.comment small {
  font-weight: bold;
}
.comment h5{
  padding: 2px 20px;
  height: 100%;
}
.form-control {
  width: 940px;
}
.writing {
  font-size: 56px;
  width: 580px;
  color: white;
  text-shadow: -1px 0px #807373;
  position: absolute;
  top: 37%;
  left: 54%;
}
.btn-default {
  display: inline;
  position: relative;
  float: right;
  top: -30px;
}