<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="/#/">Maja Korunoska</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/#/"><i class="fa fa-home"></i> HOME</a></li>
		<li><a href="/#/users"><i class="fa fa-user-plus"></i> USERS</a></li>
		<li><a href="/#/posts"><i class="fa fa-files-o"></i> POSTS</a></li>
	</ul>
</div>