<div>

	<div class="panel-heading">
		<h3 class="panel-title"><a href="#/users/{{userId}}">{{name}}</a></h3>

    	<button class="btn btn-default remove" ng-click="delete(index)">X</button> 
	</div>

	<div class="panel-body">
		<br/>
		<div class="row">
	    	<div class="col-lg-7">
		        <div class="media">
		            <a class="pull-left" href="#">
		            	<div id="userImage"></div>
		            </a>
		            <div class="media-body">
		                <h4 class="media-heading">{{username}}</h4><small> {{address.city}}</small>
		                <h5>{{company.catchPhrase}} {{company.bs}} <a href="http://gridle.in"> at {{company.name}}</a></h5>
		                <h5>Visit my website: <a href="{{website}}">{{website}}</a></h5>
		                <hr style="margin:8px auto">

		                <span class="label label-default">HTML5/CSS3</span>
		                <span class="label label-default">jQuery</span>
		                <span class="label label-info">CakePHP</span>
		                <span class="label label-default">Android</span>
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-2"></div>
		    <div class="col-lg-2"></div>
		</div>
	</div>	
	
</div>


