 <div id="users">

	<div class="container" id="user-section">
		<h1 ng-if="!singlePost"> POSTS </h1>

		<input type="text" data-ng-model="search.$" class="form-control" placeholder="Search for..." ng-show="!singlePost"/> <span class="glyphicon glyphicon-search" id="searchItem" aria-hidden="true"></span>

		<i ng-if="!posts.length" class="loading-spinner fa fa-spinner fa-spin"></i>

		<div ng-if="posts.length">
			<post 
				class="panel panel-warning"
				ng-repeat="post in filteredPosts = (posts | filter:search)"
				title="{{post.title}}"
				body="{{post.body}}" 
				post-id="{{post.id}}"
				single-post="{{singlePost}}"
				user-id="{{post.userId}}">
			</post>
		</div>

		<div ng-show="!filteredPosts.length">No results. Try again!</div>
		
		<h4 style="font-family: 'Indie Flower', cursive; text-transform: capitalize;" ng-if="singlePost"><i class="fa fa-comments"></i> Comments</h4>
		<comment 
			ng-repeat="comment in comments"
			name="{{comment.name}}"
			body="{{comment.body}}"
			email="{{comment.email}}"
			post-id="{{comment.postId}}"
			ng-if="singlePost"> 
		</comment>

		<hr>
		<div class="row" ng-if="singlePost">
			<div class="col-md-12">
				<form>
					<textarea ng-model="test" ng-trim="false" maxlength="250" placeholder="Write your comment here" ng-class="{'text-color': test.length == 250}"> </textarea>
					<button type="submit" class="btn btn-success green pull-left"><i class="fa fa-reply"></i>Post</button>
					<span>{{250 - test.length}} left  </span>
				</form>
			</div>
		</div>
	</div>

</div> 