 <div id="users">

	<div class="container" id="user-section">
		<h1> USERS </h1>

		<input type="text" data-ng-model="search.$" class="form-control" placeholder="Search for..."> <span class="glyphicon glyphicon-search" id="searchItem" aria-hidden="true"></span>
		
		<i ng-if="!users.length" class="loading-spinner fa fa-spinner fa-spin"></i>
		
		<div ng-if="users.length">
			<user 
				class="panel panel-warning"
				ng-repeat="user in filteredUsers = (users | filter:search)"
				name="{{user.name}}"
				username="{{user.username}}" 
				user-id="{{user.id}}"
				single-post="{{singlePost}}"
				address="user.address"
				company="user.company"
				website="user.website"
				users="users"
				index="{{$index}}">
			</user> 
		</div>
			
		<div ng-show="!filteredUsers.length">No results. Try again!</div>
		
	</div>

</div> 